.my_banner{
    background-color:#293f51;
}
.Banner_heading{
    text-transform: uppercase;
    width: 100%;
    padding-top: 30px;
    max-width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
h5{
    color:#62867E;
}
.mynav{
    padding-top: 30px;
}
.mynav ul{
    text-decoration:none ;
    color:#fff;
    margin-left: 0px;
}
.mynav ul li{
    float:left;
    list-style: none;
    padding:6px 20px 6px 0px;
}
.Banner_content-heading{
    color: #62867E;
    text-align: center;
    margin-top: 30px;
}
.Banner_content-para{
    color: #fff;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: block;
    justify-content: center;
}


button{
    padding: 20px;
    background-color: #293f51;
    color: #fff;
    border:1px solid white;
    border-radius:5px;
    margin: 10px 0 20px 0;
}